경기도 수원시 지역화폐 코로나 전/후 상황 비교분석

1. 전처리

In [58]:
import matplotlib as mpl
import matplotlib.pyplot as plt

%config InlineBackend.figure_format = 'retina'
 
!apt -qq -y install fonts-nanum
 
import matplotlib.font_manager as fm

fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
plt.rc('font', family='NanumBarunGothic') 
mpl.font_manager._rebuild()

'apt'��(��) ���� �Ǵ� �ܺ� ����, ������ �� �ִ� ���α׷�, �Ǵ�
��ġ ������ �ƴմϴ�.

In [59]:
import plotly.express as px
import pandas as pd
df= pd.read_csv('./경기도 수원시_지역화폐 결제 정보_20201211_수정.csv', encoding='cp949')
df.head()

         기준년월 시군구명 읍면동명 성별  연령대    업종명  결제건수     결제금액     데이터기준일자
0  2020-11-01  권선구  고색동  남  10대   레져업소    20   106900  2020-12-11
1  2020-11-01  권선구  고색동  남  10대   보건위생     3    29000  2020-12-11
2  2020-11-01  권선구  고색동  남  10대   서적문구     1     5600  2020-12-11
3  2020-11-01  권선구  고색동  남  10대     약국     1    13600  2020-12-11
4  2020-11-01  권선구  고색동  남  10대  유통업영리    70  2160910  2020-12-11

In [60]:
#Substr 문자열 자르기를 위해 데이터타입 변경
df= df.astype({'기준년월' : 'string'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128650 entries, 0 to 128649
Data columns (total 9 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   기준년월     128650 non-null  string
 1   시군구명     128650 non-null  object
 2   읍면동명     128650 non-null  object
 3   성별       128650 non-null  object
 4   연령대      128650 non-null  object
 5   업종명      128650 non-null  object
 6   결제건수     128650 non-null  int64
 7   결제금액     128650 non-null  int64
 8   데이터기준일자  128650 non-null  object
dtypes: int64(2), object(6), string(1)
memory usage: 8.8+ MB

In [61]:
# 기준년 생성, 불필요 컬럼 삭제
df['기준년'] = df['기준년월'].str[:4]
df['기준월'] = df['기준년월'].str[5:7]
del df['데이터기준일자']
df

              기준년월 시군구명 읍면동명 성별    연령대      업종명  결제건수     결제금액   기준년 기준월
0       2020-11-01  권선구  고색동  남    10대     레져업소    20   106900  2020  11
1       2020-11-01  권선구  고색동  남    10대     보건위생     3    29000  2020  11
2       2020-11-01  권선구  고색동  남    10대     서적문구     1     5600  2020  11
3       2020-11-01  권선구  고색동  남    10대       약국     1    13600  2020  11
4       2020-11-01  권선구  고색동  남    10대    유통업영리    70  2160910  2020  11
...            ...  ...  ... ..    ...      ...   ...      ...   ...  ..
128645  2019-04-01  팔달구  화서동  여  60대이상       약국     2    17900  2019  04
128646  2019-04-01  팔달구  화서동  여  60대이상    유통업영리     3    27690  2019  04
128647  2019-04-01  팔달구  화서동  여  60대이상     음료식품     2    12000  2019  04
128648  2019-04-01  팔달구  화서동  여  60대이상       의원     4    72900  2019  04
128649  2019-04-01  팔달구  화서동  여  60대이상  일반·휴게음식     6    81500  2019  04

[128650 rows x 10 columns]

In [62]:
# import libraries
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

In [63]:
# set plot style : grey grid in the backgroud;
sns.set(style="darkgrid")

# set the figure size
plt.figure(figsize=(30,30))

In [64]:
df = df.set_index('기준년')
df_2019 = df.loc['2019']
df_2019

            기준년월 시군구명 읍면동명 성별    연령대      업종명  결제건수    결제금액 기준월
기준년
2019  2019-12-01  권선구  고색동  남    20대       기타     1   41800  12
2019  2019-12-01  권선구  고색동  남    20대     레져업소    61  321600  12
2019  2019-12-01  권선구  고색동  남    20대    문화·취미     3  420000  12
2019  2019-12-01  권선구  고색동  남    20대     보건위생     9  173100  12
2019  2019-12-01  권선구  고색동  남    20대     서적문구     1  250000  12
...          ...  ...  ... ..    ...      ...   ...     ...  ..
2019  2019-04-01  팔달구  화서동  여  60대이상       약국     2   17900  04
2019  2019-04-01  팔달구  화서동  여  60대이상    유통업영리     3   27690  04
2019  2019-04-01  팔달구  화서동  여  60대이상     음료식품     2   12000  04
2019  2019-04-01  팔달구  화서동  여  60대이상       의원     4   72900  04
2019  2019-04-01  팔달구  화서동  여  60대이상  일반·휴게음식     6   81500  04

[37223 rows x 9 columns]

In [78]:
# top bar -> sum all values
df_age = df_2019.groupby(['연령대, 업종명'])['결제금액'].sum().sort_values(ascending=False).index[:10]
df_Ind = df_2019.groupby(['업종명'])['결제금액'].sum().sort_values(ascending=False).index[:10]
# print(df_Ind)
df_2019 = df_2019.reset_index(inplace=True)
df_2019 = df_2019.set_index('업종명')
df_2019_Ind = df_2019.loc[df_Ind]
df_2019_Ind

KeyError: '연령대, 업종명'

In [ ]:
# df_2019_F = df_2019.loc[df_age]
# # df_age_F = df_age.unstack().fillna(0)
# # df_age_F
# df_2019_F

In [ ]:
from matplotlib import pyplot as plt

# Very simple one-liner using our agg_tips DataFrame.
df_age.plot(kind='bar', stacked=True)

# Just add a title and rotate the x-axis labels to be horizontal.
plt.title('2019년 경기도 수원시 지역화폐 연령별 사용 금액')
plt.xticks(rotation=0, ha='center')

In [ ]:
# # top bar -> sum all values
# df_sum = df.groupby('업종명')['결제금액'].sum().reset_index()

# #top bar -> take only 기준년=2019
# df_2019 = df[df.기준년=='2019']

# # bar chart 1 -> top bars (group of '기준년 = 2019')
# bar1 = sns.barplot(x="업종명", y="결제금액", data=df_2019,
# estimator=sum, ci=None, color='darkblue')

# #bottom bar -> take only 기준년=2020
# df_2020 = df[df.기준년=='2020']

# # bar chart 2 -> bottom bars (group of '기준년 = 2020')
# bar2 = sns.barplot(x="업종명", y="결제금액", data=df_2020,
# estimator=sum, ci=None, color='lightblue')

# # add legend
# top_bar = mpatches.Patch(color='darkblue', label='2019년')
# bottom_bar = mpatches.Patch(color='lightblue', label='2020년')
# plt.legend(handles=[top_bar, bottom_bar])

# # show the graph
# plt.show()

In [ ]:
# 불필요 컬럼 삭제 -> 연령별 업종 결제금액 파악
df_age = df[:]
df_age.drop(['기준년월', '시군구명', '읍면동명', '성별', '결제건수'], axis=1, inplace=True)
df_age['기준년1']=df_age['기준년']
df_age=df_age.set_index(['기준년', '업종명'])
df_age